<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../../../assets/fonts//style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="head desktop-header">
            <div class="container">
                <div class="beanies">
                    <div>
                        <span class="icon icon-stay_current_portrait-24px"></span>
                        <a href="tel:+380954113354">38 (095) 411 33 54</a>
                    </div>
                    <div class="language">
                        <span><a href='aaa'>UA</a></span>
                        <span>|</span>
                        <span><a href='aaa'> RU</a></span>
                    </div>
                </div>
                <div class="logo-side">
                    <a href="/" title="proscooters.com.ua"><span class="icon logo icon-proscooters"></span></a>
                    <div class="search-wrapper d-flex justify-content-between align-items-end col-5">
                        <a href="https://www.instagram.com/proscootersua" class=" mr-3 mb-1">
                            <span class="icon icon-instagram-symbol "></span></a>
                        <div class="input-group input-group-sm mb-3 mr-3">
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="пошук">
                        </div>
                        <a href="#">
                            <span class="icon icon-shopping_cart-24px mb-2" title="2025грн">
                            <span class="number-items-in-cart">1</span>
                            </span>
                        </a>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li class="menu-list active">
                            <a href="/asdasd">Самокати</a>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Деки</a>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Рули</a>

                            <div class="sub-menu">
                                <ul class="container">
                                    <li><a href="#">Защита</a></li>
                                    <li><a href="#">Шлеми</a></li>
                                    <li><a href="#">Другое</a></li>
                                    <li><a href="#">Защита</a></li>
                                    <li><a href="#">Шлеми</a></li>
                                    <li><a href="#">Другое</a></li>
                                    <li><a href="#">Защита</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Вилки</a>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Колеса</a>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Зажими</a>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Scs</a>
                        </li>

                        <li class="menu-list">
                            <a href="/asdasd">Пеги</a>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Гріпси</a>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Наждаки</a>
                        </li>
                        <li class="menu-list">
                            <a href="/asdasd">Другое</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- MOBILE MENU -->

        <div class="mobile-header">
            <div class="mobile-beanie">
                <a href="https://www.instagram.com/proscootersua">
                    <span class="icon icon-instagram-symbol "></span></a>
                <div>
                    <span class="icon icon-stay_current_portrait-24px"></span>
                    <a href="tel:+380954113354">38 (095) 411 33 54</a>
                </div>
                <div class="language">
                    <span><a href='aaa'>UA</a></span>
                    <span>|</span>
                    <span><a href='aaa'>RU</a></span>
                </div>
            </div>
            <div class="logo-side">
                <nav id="mySidebar" class="sidebar mobile-menu">
                    <div class="nav-header d-flex justify-content-between">
                        <span class="icon-proscootersT" title="proscooters"></span>
                        <a href="javascript:void(0)" class="closebtn" onclick="user.closeNav()">×</a>
                    </div>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                            <ul class="mobile-submenu">
                                <li><a href="#444">Ethic</a></li>
                                <li><a href="#444">Самокати</a></li>
                                <li><a href="#44">Самокати</a></li>
                                <li><a href="#44">Самокати</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                            <ul class="mobile-submenu">
                                <li><a href="#444">Ethic</a></li>
                                <li><a href="#444">Самокати</a></li>
                                <li><a href="#44">Самокати</a></li>
                                <li><a href="#44">Самокати</a></li>
                            </ul>
                        </div>

                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#123" class="d-flex justify-content-between">
                                <span>Самокати</span>
                                <span class="icon-circle-down"></span>
                            </a>
                        </div>
                    </li>
                </nav>
                <div id="main">
                    <button class="openbtn" onclick="user.openNav()">☰</button>
                </div>
                <a href="/" title="proscooters.com.ua">
                    <div class="icon-proscootersT"></div>
                </a>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="пошук">
                </div>
                <a href="#">
                    <span class="icon-shopping_cart-24px" title="2025грн">
                    <span class="item-in-cart">1</span>
                    </span>
                </a>
            </div>
        </div>
    </header>

    <!-- MOBILE MENU -->

    <!-- MAIN -->

    <div class="myBlock"></div>



    <!-- breadcrumb -->

    <div class="bread container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Proscooters</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
    </div>

    <!-- ITEM -->

    <div class="item container">

        <div class=image-wrapper>

            <!-- Container for the image gallery -->
            <div class="container move-image">

                <!-- Full-width images with number text -->
                <div class="mySlider-wrapper">
                    <div class="mySlides">
                        <div class="numbertext">1 / 6</div>
                        <img src="http://proscooters.com.ua/image/cache/catalog/2020/Root/Wheel/Root%20Lotus%20110%20Wheel%20/root-wheels-lotus-110mm-459x459.jpg" style="width:100%" alt="image">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">2 / 6</div>
                        <img src="http://360rideshop.com/image/cache/catalog/2018/wakeboarding/Wakebord/Hyperlite/wakeboard-hyperlite-pbj-5-800x800.jpg" style="width:100%" alt="image2">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">3 / 6</div>
                        <img src="http://proscooters.com.ua/image/cache/catalog/2020/AO%20/%20Scooter/AO%20Maven%20Scooter/maven-2020-green-side-m-459x459.jpg" style="width:100%" alt="image3">
                    </div>
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="img.plusSlides(-1)"><span class="icon-arrow-left2"></span></a>
                <a class="next" onclick="img.plusSlides(1)"><span class="icon-arrow-right2"></a>

                <!-- Image text -->
                <div class="caption-container">

                </div>

                <!-- Thumbnail images -->
                <div class="row change-img">
                    <div class="column">
                        <img class="demo cursor" src="http://proscooters.com.ua/image/cache/catalog/2020/Root/Wheel/Root%20Lotus%20110%20Wheel%20/root-wheels-lotus-110mm-459x459.jpg" style="width:100%" onclick="img.currentSlide(1)" alt="Title of item">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="http://360rideshop.com/image/cache/catalog/2018/wakeboarding/Wakebord/Hyperlite/wakeboard-hyperlite-pbj-5-800x800.jpg" style="width:100%" onclick="img.currentSlide(2)" alt="Cinque Terre">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="http://proscooters.com.ua/image/cache/catalog/2020/AO%20/%20Scooter/AO%20Maven%20Scooter/maven-2020-green-side-m-459x459.jpg" style="width:100%" onclick="img.currentSlide(3)" alt="Mountains and fjords">
                    </div>
                </div>

            </div>
        </div>

        <div class="item-info">
            <div class="price">
                <div class="new-price">2000 грн</div>
                <div class="old-price">2300 грн</div>
            </div>
            <h1>Addict Defender V2 Scooter Black Scooter Black Scooter Black Scooter Black</h1>

            <ul class="description">
                <li>Уровень катания: Средний</li>
                <li>Руль: CrMo(Хром), Висота 610х519 мм,</li>
                <li>Вилка: CrMo</li>
                <li>Колеса: 110 мм. Алюминий. Ширина 24 мм. </li>
                <li>Совместимость диаметров колес с декой: 100, </li>
                <li>Совместимость диаметров колес с вилкой: 100,</li>
                <li>Общая высота: 85 см</li>
                <li>Уровень катания: Средний</li>
                <li>Руль: CrMo(Хром), Висота 610х519 мм,</li>
                <li>Вилка: CrMo</li>
                <li>Колеса: 110 мм. Алюминий. Ширина 24 мм. </li>
                <li>Совместимость диаметров колес с декой: 100, </li>
                <li>Совместимость диаметров колес с вилкой: 100,</li>
                <li>Общая высота: 85 см</li>
            </ul>
            <div class="brand-logo">
                <div class="stars">
                    <span class="icon-star-full "></span>
                    <span class="icon-star-full"></span>
                    <span class="icon-star-full"></span>
                    <span class="icon-star-full"></span>
                    <span class="icon-star-full icon-star-empty"></span>
                </div>
                <img src="http://proscooters.com.ua/image/cache/catalog/Brands_logo/Lucky.png-80x80.jpeg" alt="ethic">
            </div>

            <!-- <div class="stars">
                <span class="icon-star-full "></span>
                <span class="icon-star-full"></span>
                <span class="icon-star-full"></span>
                <span class="icon-star-full"></span>
                <span class="icon-star-full icon-star-empty"></span>
            </div>
            <div class="status">
                <span class="availability">Нет в наличии</span>
                <span class="fast-shipping">Бистра доставка</span>
                <span class="present">Подарок</span>
            </div> -->

            <input type="text" pattern="\d[0-9]" class="form-control" id="formGroupExampleInput" placeholder="Количество">
            <div class="article"><span>Код товара : 2341</span></div>
            <button type="button" class="btn btn-danger">Купить</button>

        </div>
    </div>

    <!-- FOOTER -->

    <footer>
        <div class="container">
            <ul>
                <li>
                    <h5>
                        Инфо
                    </h5>
                </li>
                <li>
                    <a href="#">О магазине</a>
                </li>
                <li>
                    <a href="#">Оплата / Доставка</a>
                </li>
                <li>
                    <a href="#">Гарантия / Возврат</a>
                </li>
                <li>
                    <a href="#">Оптовая продажа</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h5>Proscooters</h5>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li><span class="icon-telegram"></span>
                    <a href="tel:+380954113354">38 (095) 411 33 54</a>
                </li>
                <li><a href="mailto:info@proscooters.com.ua">info@proscooters.com.ua</a></li>

                <li>
                    <span class="icon-alarm"></span>
                    <span>пн-сб 10:00 - 19:00</span>
                </li>
                <li class="social">
                    <a href="https://www.instagram.com/proscootersua">
                        <span class="icon-instagram-symbol"></span>
                    </a>

                    <a href="#">
                        <span class="icon-youtube-square"></span>
                    </a>

                    <a href="https://www.facebook.com/proscootersua">
                        <span class="icon-facebook-app-logo"></span>
                    </a>
                </li>
                <li></li>
            </ul>
        </div>
        <div class="bottom-logo">
            <div class="logo-wrapper">
                <a href="./"><span class="icon-proscooters"></span></a>
            </div>
        </div>


    </footer>

    <!-- FOOTER -->

    <script>
        class User {

            constructor() {
                this.initPage()
            }

            initPage() {
                this.showSubMenu();
            }

            openNav() {
                document.getElementById("mySidebar").style.width = "280px";
                document.getElementById("main").style.marginLeft = "280px";
            }

            closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }

            showSubMenu() {
                const li = [...mySidebar.children];
                li.forEach(li => {
                    if (li.querySelector('.icon-circle-down')) {
                        let checkSubmenu = li.querySelector('.mobile-submenu') ? 'block' : "none";
                        li.querySelector('.icon-circle-down').style = `display: ${checkSubmenu}`;
                    }
                    li.addEventListener("click", (e) => {
                        if (e.target.className === 'icon-circle-down') {
                            e.preventDefault();
                            e.target.style = "transform: rotate(180deg);transition: 0.3s";
                            e.currentTarget.querySelector('.mobile-submenu').style = "display:block";
                            e.target.className = 'icon-circle-down clicked';
                            return;
                        };
                        if (e.target.className === 'icon-circle-down clicked') {
                            e.preventDefault();
                            e.target.style = "transform: rotate(0deg);transition: 0.3s";
                            e.currentTarget.querySelector('.mobile-submenu').style = "display:none";
                            e.target.className = 'icon-circle-down'
                            return;
                        }
                    })

                })
            }

        }
        const user = new User();

        class Img {

            constructor() {
                this.slideIndex = 1;
                this.showSlides(this.slideIndex);
                this.detectswipe();
            }


            plusSlides(n) {
                this.showSlides(this.slideIndex += n);
            }


            currentSlide(n) {
                this.showSlides(this.slideIndex = n);
            }


            showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("demo");
                let captionText = document.getElementById("caption");
                if (n > slides.length) {
                    this.slideIndex = 1
                }
                if (n < 1) {
                    this.slideIndex = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[this.slideIndex - 1].style.display = "block";
                dots[this.slideIndex - 1].className += " active";

            }

            detectswipe() {
                const swipe_det = {}
                swipe_det.sX = 0;
                swipe_det.sY = 0;
                swipe_det.eX = 0;
                swipe_det.eY = 0;
                var min_x = 20; //min x swipe for horizontal swipe
                var max_x = 40; //max x difference for vertical swipe
                var min_y = 40; //min y swipe for vertical swipe
                var max_y = 50; //max y difference for horizontal swipe

                const ele = document.querySelector('.mySlider-wrapper');
                const scrollElement = document.querySelector('.change-img');
                const scrollTopElement = document.querySelector('.desktop-header');


                ele.addEventListener('touchstart', function(e) {
                    var t = e.touches[0];
                    swipe_det.sX = t.screenX;
                    swipe_det.sY = t.screenY;
                }, false);
                ele.addEventListener('touchmove', function(e) {
                    e.preventDefault();
                    var t = e.touches[0];
                    swipe_det.eX = t.screenX;
                    swipe_det.eY = t.screenY;
                }, false);
                ele.addEventListener('touchend', e => {
                    //horizontal detection
                    if ((((swipe_det.eX - min_x > swipe_det.sX) || (swipe_det.eX + min_x < swipe_det.sX)) && ((swipe_det.eY < swipe_det.sY + max_y) && (swipe_det.sY > swipe_det.eY - max_y)))) {
                        if (swipe_det.eX > swipe_det.sX) {
                            this.plusSlides(-1);
                        } else {
                            this.plusSlides(1)
                        }
                    }
                    //vertical detection
                    if ((((swipe_det.eY - min_y > swipe_det.sY) || (swipe_det.eY + min_y < swipe_det.sY)) && ((swipe_det.eX < swipe_det.sX + max_x) && (swipe_det.sX > swipe_det.eX - max_x)))) {
                        if (swipe_det.eY > swipe_det.sY) {
                            console.error(top)

                            window.scrollBy({
                                top: -300, // could be negative value
                                left: 0,
                                behavior: 'smooth'
                            });

                        } else {

                            window.scrollBy({
                                top: 300, // could be negative value
                                left: 0,
                                behavior: 'smooth'
                            });
                        }
                    }

                }, false);
            }
        }
        const img = new Img()
    </script>

</body>

</html>